body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, sans-serif;
}

input {
  max-width: 500px;
}

.gray {
  color: #828282;
}

.orange {
  background-color: #ff6600;
}

.background-gray {
  background-color: rgb(246, 246, 239);
}

.f11 {
  font-size: 11px;
}

.w85 {
  width: 85%;
}

.button {
  font-family: monospace;
  font-size: 10pt;
  color: black;
  background-color: buttonface;
  text-align: center;
  padding: 2px 6px 3px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  cursor: pointer;
  max-width: 250px;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}

.header__links {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  color: white;
}

.header__links > * {
  color: white;
  text-decoration: none;
}

.App {
  width: 80%;
  margin: auto;
}

.linklist {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 5px;
}

.link {
  padding: 10px 10px 10px 20px;
  display: flex;
  border-bottom: 1px solid rgb(56, 56, 58);
  gap: 10px;
}

.voter {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.clicker {
  cursor: pointer;
  color: gray;
  font-size: 20px;
}

.link > .info {
  display: flex;
  flex-direction: column;
}

.createlink {
  padding: 50px;
}

.createlink > form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.createlink > form > * {
  width: 100%;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login > form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
}

.login > form > .button-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 10px ;
}

.search > button {
  width: 80px;
}